/cpp/Effekseer/
/cpp/Adapter_Effekseer_Swig.cpp
/cpp/Effekseer_Swig.cpp
/cpp/Effekseer_GL_Swig.cpp
/src/main/java/io/github/niraj_rayalla/gdxseer/effekseer
/src/main/java/io/github/niraj_rayalla/gdxseer/adapter_effekseer

/cmake-windows/
/cmake-macos/
/cmake-linux/
/android-build/
/cmake-ios*/

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
